.table {
  width: fit-content;
  margin: 20px;
}

.table-row {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid black;
}

.header-row {
  background-color: rgb(131, 129, 129);
}

.header-column {
  font-weight: bolder;
  font-size: larger;
}


.oddRow {
  background-color: rgba(153, 158, 163, 0.3);
}

.evenRow {
  background-color: rgba(153, 158, 163, 0.5);
}

.id {
  min-width: 45px;
  text-align: center;
}

.field {
  position: relative;
  width: 200px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

.field:hover {
  z-index: 10;
  overflow-x: visible;
  text-overflow: unset;
  min-width: fit-content;
}

.row-bottom:hover {
  background-color: rgba(104, 253, 208, 0.1);

}